@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-size: 18px;
	
	background: url('../img/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

a:link, a:visited { 
    color: #0000AA;
    text-decoration: none
}

input:focus, a:hover { 
    color: #0000EE;
}

body, h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2 {
	font-size: 150%;
	color: #505050;
	margin: 0;
}

h3 {
	font-size: 125%;
	color: #505050;
	margin: 0;
}

.header {
	background-color: #FA5A0F
	color: #FFFFFF;
	padding: 1em;
	border-bottom-color: #EA4A00;
	border-bottom-width: 5px;
}

.main {
	margin-left: 30%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-image: url('../img/ricepaper_v3.png');
	opacity: 0.9;
}
