@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 18px;
	font-weight: 300;
	
	background: url('../img/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

a:link { 
    color: #0000AA;
    text-decoration: none
}

a:visited { 
    color: #0000AA;
    text-decoration: none
}

a:hover { 
    color: #0000EE;
}

input:focus { 
    color: #0000EE;
}

h1 {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 300%;
	font-weight: 300;
	margin: 0;
}

h2 {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 150%;
	font-weight: 300;
	color: #505050;
	margin: 0;
}

h3 {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 125%;
	font-weight: 300;
	color: #505050;
	margin: 0;
}

header {
	background-color: #FA5A0F
	color: #FFFFFF;
	padding: 1em;
	border-bottom-color: #EA4A00;
	border-bottom-width: 5px;
}